#levels{
	text-align: center;
}
#levels span{
	margin-left: 10px;
	margin-right: 10px;
}
#sentences{
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (min-width: 500px) {
    #levels{
		max-width: 500px;
	}
	#pages{
		max-width: 500px;
	}
}
#pages{
	text-align: center;
}
#pages span{
	margin-left: 10px;
	margin-right: 10px;
}
#pages span.clickable{
	color:blue;
}
#pages span.clickable:hover{
	cursor: pointer;
}